services:
  frontend:
    build: ./frontend
    ports:
      - 3000:3000
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5001
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    environment:
      - FLASK_ENV=production
    volumes:
      - ./backend/data:/app/data:ro
      - ./backend/output:/app/output
