.audioPlayer{
    width: 100%;
    max-width: 750px;
    border-style: none solid solid solid;
    border-color: black;
    border-width: 0 1px 1px 1px; 
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

.controlBar {
    display: flex;
    align-items: center;
    padding: 5px 50px 10px 50px;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 10px; /* Add spacing between items */
}

.forwardBackward {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    flex-shrink: 0; /* Prevent shrinking */
}

.playPause {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0;
}

.currentTime {
    margin-left: 25px;
    flex-shrink: 0;
}

.duration {
    flex-shrink: 0;
}

.progressBarWrapper{
    --bar-bg: #A7A5A5;
    --seek-before-width: 0;
    --seek-before-color: #333333;
    --knobby: #F33232;

    padding: 20px 50px 0px 50px;
    justify-self: center;
    width: 100%;
    box-sizing: border-box;
}

/* default progress bar - chrome */
.progressBar{
    width: 100%;
    max-width: 650px;
    appearance: none;
    background-color: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    height: 5px;
    outline: none;
}

/* default progress bar - safari */
.progressBar::-webkit-slider-runnable-track{
    width: 100%;
    max-width: 650px;
    background-color: var(--bar-bg);
    position: relative;
    height: 5px;
    border-radius: 10px;
    outline: none;
}

/* default progress bar - firefox */
.progressBar::-moz-range-track{
    width: 100%;
    max-width: 650px;
    background-color: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    height: 5px;
}

.progressBar::-moz-focus-outer{
    border: 0;
}

/* progress bar before knobby - chrome and safari*/
.progressBar::before{
    content: '';
    height: 5px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* progress bar before knobby - firefox */
.progressBar::-moz-range-progress{
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 5px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb{
    transform: scale(1.2);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb{
    transform: scale(1.2);
}